# Put this file to the CWD of the application to allow the dpdk provider load 
# the configuration. You can also use FI_DPDK_CFG_FILE environment variable
# to specify the configuration file. For example:
# export FI_DPDK_CFG_FILE=/path/to/libfabric.dpdk.cfg

# Arguments to DPDK subsystem 
dpdk_args       =   {"-v","0000:06:00.0","-l","1,3,5,7"}
port            =   2509
cm_ring_size    =   16

# domain sections
domain 0000:22:00.1
{
    ip              = "10.0.0.1"
    port            = 2509
    cm_ring_size    = 16
}
